{% extends 'base.html' %}


<!-- Begin page content -->
<main role="main" class="mt-3 flex-shrink-0">
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>
                    {% if id %} Редактирование сниппета {% else %} {{ pagename_add }} {% endif %} 
                    
                </h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form action="" method="post">
                    {% csrf_token %}
                        {{ form.as_p }}
                    <div class='form-grop-row'>
                        <div class='col-6'>
                            {% if id %} 
                                <input type="submit" class="btn btn-primary btn-block" value="Сохранить" />
                            {% else %} 
                                <input type="submit" class="btn btn-primary btn-block" value="Создать сниппет" />
                            {% endif %} 
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</main>




