{% extends 'base.html' %}
<main role="main" class="mt-3 flex-shrink-0">
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>{{ pagename }}</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <fieldset disabled>
                <div class="row disabled">
                    <div class="col col-8">
                        Название: <input type="text" value="{{ snippet.name }}"" class="form-control">
                    </div>
                    <div class="col col-4">
                        Дата создания:<input type="text" value="{{ snippet.creation_date | date:"d F Y H:i:s" }}"" class="form-control">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="p-2 h-100" style="border:1px solid #ced4da; border-radius:5px;">
                            <p>
                                {{ snippet.code }}
                            </p>
             
                        </div>
             
                    </div>
                </div>
                <hr>
             </fieldset>
             {% if snippet.user == request.user %}
                <div class='form-grop-row'>
                    <div class='col-6'>
                        <table class="table table-striped">
                            <tr> 
                                <form action="{% url "del-snippet" snippet.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Удалить</button>
                                </form>
                            </tr>
                            <tr>    
                                <form action="{% url "edit-snippet" snippet.id %}" method="">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-warning">Редактировать</button>
                                </form>
                            </tr>
                        </table>
                    </div>    
                </div>
            {% endif %}
            
            <table border="1">
                <tr>
                    <th>Дата создания</th>
                    <th>Автор</th>
                    <th>Комментарий</th>
                </tr>
                {% for comment in snippet.comments.all %}
                <tr>
                    <td>{{ comment.creation_date }}</td>
                    <td>{{ comment.author.username }}</td>
                    <td>{{ comment.text }}</td>
                </tr>
                {% endfor %}
            </table>
            <br>
            <div class='row mt-3'>
                <div class='col'>
                    {% if request.user.is_authenticated  %}
                        <form action="{% url 'comment_add' %}" method="POST">
                            {% csrf_token %}
                            {{ comment_form }}
                            <input type="hidden" name="snippet_id" value="{{snippet.id}}">
                            <button type="submit">Добавить</button>
                        </form>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>


{% endblock content %}
</main>


  